.tiles.row
  - @tiles.each do |tile|
    .tile
      / # = link_to image_tag('cross.png', alt: 'supprimer'), tile.link.to_sym, title: 'Supprimer ce thème', class: 'button_cross'
      = link_to image_tag(tile.image, alt: tile.name), tile.link.to_sym
      / %img{src: "http://placehold.it/600x600", class: "img-responsive"}

/ = link_to image_tag("more.png", alt: 'icone plus'), 'root_path', class: "button_more", title: "Créer un thème"
