/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";
@import "tiles";
@import "items_moneys";
@import "accounts";
@import "statements";
@import "users";

.row
{
  margin-left: 0px;
  margin-right: 0px;
}

body
{
  background-color: $body-color;

  .navigation
  {
    background-color: $navbar-color;
    color: white;
    border-radius: 0;
    height: 40px;
    font-size: 20px;
    margin-bottom: 20px;
    padding-top: 5px;

    span
    {
      @include make-xs-column(2);
      @include make-sm-column(1);
      @include make-md-column(1);
      @include make-lg-column(1);

      color: white;
      margin-top: 5px;
    }

    .title
    {
      @include make-xs-column(8);
      @include make-sm-column(10);
      @include make-md-column(10);
      @include make-lg-column(10);

      color: white;
      text-align: center;
    }

    .logout
    {
      float: right;
    }

  }

  .notice, .alert
  {
    @include make-xs-column(10);
    @include make-xs-column-offset(1);
    @include make-sm-column(10);
    @include make-sm-column-offset(1);
    @include make-md-column(10);
    @include make-md-column-offset(1);
    @include make-lg-column(10);
    @include make-lg-column-offset(1);

    
  }

}
