// Place all the styles related to the tiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tiles
{
  margin: 5px;
  .tile
  {
    @include make-xs-column(6);
    @include make-sm-column(4);
    @include make-md-column(3);
    @include make-lg-column(2);
    text-align: center;
    background-color: $tile-color;
    border: 10px solid $body-color;
    border-radius: 15px;
  }
}