%header
  .navigation.row
    .home
      = link_to root_path do
        %span.glyphicon.glyphicon-home
    .title Evolution
    .logout
      = link_to destroy_user_session_path, method: :delete do
        %span.glyphicon.glyphicon-remove
